[user]
  name = Joe Gornick
	email = joe@joegornick.com

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color]
  ui = true

[core]
  eol = lf
  autocrlf = false
  safecrlf = false
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  excludesfile = ~/.gitignore

[alias]
  st = status
  br = branch
  co = checkout
  chp = cherry-pick
  rb = rebase
  df = diff
  dfs = df --staged

  # Amend to last commit.
  ca = commit --amend
  # Amend without hooks.
  canv = ca --no-verify
  # Amend without hooks and edit.
  canvne = canv --no-edit
  # Amend, even empty, without hooks and edit. Useful to re-hash last commit.
  canvneae = canvne --allow-empty

  # Force commit (re-hash) and just push
  rebuild = "!r() { git canvneae; git push "${1:-origin}" --force-with-lease --no-verify; }; r"

  # Add tracked and rebuild
  ar = ! git add -u && git rebuild
  # Just push
  pof = push origin --force-with-lease
  # Just push without hooks
  ponvf = pof --no-verify

  # List aliases
  aliases = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

  # Amend changes to a any commit
  # https://stackoverflow.com/questions/1186535/how-to-modify-a-specified-commit/48999882#48999882
  amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git stash -uk && git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\" && git stash pop; }; f"

  # Get current branch
  current-branch = rev-parse --abbrev-ref HEAD

  # Find branches containing commit
  fb = "!f() { git branch -a --contains $1; }; f"
  # Find commits by source code
  fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
  # Find commits by commit message
  fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
  # Find tags containing commit
  ft = "!f() { git describe --always --contains $1; }; f"

  prune-remote = "!r() { git remote prune "${1:-origin}"; }; r"
  prune-remote-tags = "fetch origin --prune 'refs/tags/*:refs/tags/*'"

  #via http://stackoverflow.com/questions/5188320/how-can-i-get-a-list-of-git-branches-ordered-by-most-recent-commit
  recent-branches = "!git branch --sort=-committerdate --format='%(refname:short)'"
  recent-remote-branches = "!git branch -r --sort=-committerdate --format='%(refname:short)'"

  # Show verbose output about remotes
  remotes = remote -v

  # Reset the current branch to the remote
  reset-to-remote = "!r() { git fetch; git reset --hard "${1:-origin}/$(git current-branch)"; }; r"

  # Diff the current branch to the remote
  diff-with-remote = "!r() { git fetch; git diff "$(git current-branch)" "${1:-origin}/$(git current-branch)"; }; r"

  # Rebase the current branch to the remote
  rebase-remote = "!r() { git fetch; git rebase "${1:-origin}/$(git current-branch)"; }; r"

  # Remove the old tag with this name and tag the latest commit with it.
  retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

  # find a string in the entire git history
  search-git-history = "!r() { git rev-list --all | xargs git grep -F $1; }; r"

  show-gone-branches = "!git branch -vv | awk '/origin\\/.*: gone]/{print$1}'"
  delete-gone-branches = "!git show-gone-branches | xargs git branch -D"

  show-remote-merged-branches = "!git branch --no-color -r --merged main | sed 's/origin\\///' | grep -v '\\*' | grep -v main | grep -v next | grep -v next-major"
  delete-remote-merged-branches = "!git show-remote-merged-branches | xargs -n 1 git push origin --delete"

  # Unstage staged files
  unstage = restore --staged

  # git log --pretty=format:'%m [%h] %an: %s' "${2:-origin}/$(git current-branch)"..HEAD

  oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent "${1:-main}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -

  # Show the current git user branches
  my-branches = "!f() { git branch --sort=-committerdate --format=\"%(committerdate:short) | %(refname:short) | %(committername)\" \"$@\" | grep \"$(git config user.name)\" | less; }; f"

[push]
  default = current

[merge]
  renamelimit = 4093

[init]
  defaultBranch = main

[includeIf "gitdir:~/Projects/oss/"]
  path = ~/.gitconfig.oss